/* podkova-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Podkova";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/podkova-v31-latin-regular.eot"); /* IE9 Compat Modes */
    src: url("../fonts/podkova-v31-latin-regular.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/podkova-v31-latin-regular.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("../fonts/podkova-v31-latin-regular.woff")
            format("woff"),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */ url("../fonts/podkova-v31-latin-regular.ttf")
            format("truetype"),
        /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
            url("../fonts/podkova-v31-latin-regular.svg#Podkova") format("svg"); /* Legacy iOS */
}
/* podkova-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Podkova";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/podkova-v31-latin-500.eot"); /* IE9 Compat Modes */
    src: url("../fonts/podkova-v31-latin-500.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/podkova-v31-latin-500.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("../fonts/podkova-v31-latin-500.woff")
            format("woff"),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */ url("../fonts/podkova-v31-latin-500.ttf")
            format("truetype"),
        /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
            url("../fonts/podkova-v31-latin-500.svg#Podkova") format("svg"); /* Legacy iOS */
}
/* podkova-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Podkova";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/podkova-v31-latin-600.eot"); /* IE9 Compat Modes */
    src: url("../fonts/podkova-v31-latin-600.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/podkova-v31-latin-600.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("../fonts/podkova-v31-latin-600.woff")
            format("woff"),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */ url("../fonts/podkova-v31-latin-600.ttf")
            format("truetype"),
        /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
            url("../fonts/podkova-v31-latin-600.svg#Podkova") format("svg"); /* Legacy iOS */
}
/* podkova-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Podkova";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/podkova-v31-latin-700.eot"); /* IE9 Compat Modes */
    src: url("../fonts/podkova-v31-latin-700.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/podkova-v31-latin-700.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("../fonts/podkova-v31-latin-700.woff")
            format("woff"),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */ url("../fonts/podkova-v31-latin-700.ttf")
            format("truetype"),
        /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
            url("../fonts/podkova-v31-latin-700.svg#Podkova") format("svg"); /* Legacy iOS */
}
* {
    box-sizing: border-box;
}
body {
    position: relative;
    margin: 0;
    overflow-x: hidden;
    font-family: monospace;
    background-color: rgba(180, 238, 246, 0.523);
}
.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.header {
    padding: 37px 0;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.site-logo {
    display: inline-block;
}
.header__form {
    width: 666px;
}

.form__label {
    width: 100%;
    display: flex;
    border: 1px solid #008dff;
    border-radius: 10px;
}
.form__search {
    width: 100%;
    padding: 10px 10px;
    color: #008dff;
    line-height: 16px;
    border: 2px solid #008dff;
    border-radius: 10px 0 0 10px;
    font-size: 15px;
    outline: none;
    border: none;
    outline: none;
}
.nav {
    position: relative;
}
.header__btn-search {
    width: 100px;
    border: none;
    outline: none;
    background-color: #008dff;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 0 10px 10px 0;
}
.nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 0;
    list-style: none;
}
.nav__item {
    width: 90px;
    position: relative;
}
.header__btn {
    position: relative;
    width: 100%;
    border: none;
    flex-direction: column;
    display: flex;
    background-color: transparent;
    border: 0 10px 10px 0;
}
.nav__item:nth-child(1) .header__btn::before {
    width: 32px;
    height: 24px;
    display: inline-block;
    background-image: url("https://asaxiy.uz/custom-assets/images/icons/header/payment.svg");
    background-size: 32px 24px;
    background-repeat: no-repeat;
    content: "";
}
.nav__item:nth-child(2) .header__btn::before {
    width: 32px;
    height: 24px;
    display: inline-block;
    background-image: url("https://asaxiy.uz/custom-assets/images/icons/header/tracker.svg");
    background-size: 32px 24px;
    background-repeat: no-repeat;
    content: "";
}
.nav__item:nth-child(3) .header__btn::before {
    width: 32px;
    height: 24px;
    display: inline-block;
    background-image: url("https://asaxiy.uz/custom-assets/images/icons/header/language.svg");
    background-size: 32px 24px;
    background-repeat: no-repeat;
    content: "";
}
.nav__item:nth-child(4) .header__btn::before {
    width: 32px;
    height: 24px;
    display: inline-block;
    background-image: url("https://asaxiy.uz/custom-assets/images/icons/header/cart.svg");
    background-size: 32px 24px;
    background-repeat: no-repeat;
    content: "";
}
.nav__item:nth-child(5) .header__btn::before {
    position: relative;
    width: 32px;
    height: 24px;
    display: inline-block;
    background-image: url("https://asaxiy.uz/custom-assets/images/icons/header/heart.svg");
    background-size: 32px 24px;
    background-repeat: no-repeat;
    content: "";
}
.nav__item:nth-child(6) .header__btn::before {
    width: 32px;
    height: 24px;
    display: inline-block;
    background-image: url("https://asaxiy.uz/custom-assets/images/icons/header/avatar.svg");
    background-size: 32px 24px;
    background-repeat: no-repeat;
    content: "";
}
.lovescount {
    /* display: none; */
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid red;
    top: calc(50% - 28px);
    left: calc(50% - 10px);
    background-color: red;
    color: white;
    text-align: center;
    font-size: 14px;
}
/* .section__wrapper{

} */

.list {
    max-width: 1300px;
    width: 100%;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
}
.list li {
    position: relative;
    width: 300px;
    padding: 14px 10px;
    text-align: center;
    border-radius: 30px;
    background-color: rgba(46, 47, 54, 0.521);
}

.image {
    /* display: block; */
    border-radius: 30px;
}

.month {
    font-size: 18px;
    font-weight: 600;
}
.price {
    font-size: 20px;
    font-weight: 600;
    color: blue;
}
.bookmark {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* border: 2px solid blue; */
    outline: none;
    top: calc(50% - 206px);
    left: calc(50% - 148px);
    background-color: rgba(32, 47, 183, 0.767);
    border: 2px solid transparent;
    background: url("../imges/main-img/love.png");
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
}
.bookmark:active {
    border: 2px solid red;
    background-color: red;
}
.saved {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* border: 2px solid blue; */
    outline: none;
    top: calc(50% + 152px);
    left: calc(50% + 85px);
    background-color: rgba(32, 47, 183, 0.608);
    border: none;
    background: url("../imges/main-img/cart.png");
    background-size: 50px 50px;
    background-position: center;
}
.fovorites {
    display: none;
}
.lovelist {
    padding: 0;
    padding: 15px;
    position: absolute;
    z-index: 3;
    display: block;
    max-width: 600px;
    gap: 20px;
    border: 1px solid red;
    top: calc(50% + 70px);
    left: calc(50% - 100px);
    background-color: #000000;
    animation: lovelist 1s ease-in 0.1s 1 alternate backwards;
    /* color: white; */
}
/* .savedcount {
    display: block;
} */
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}
.wrapper {
    max-width: 300px;
    min-width: 250px;
    /* border: 1px solid red; */
    border-radius: 30px;
    /* padding: 12px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(227, 235, 4);
}

/*  delete btn part */
.deletefavorite {
    border: 2px solid transparent;
    background-color: transparent;
    font-size: 24px;
}
.deletefavorite:active {
    border: 2px solid red;
    border-radius: 50%;
    background-color: red;
}
.buy {
    display: none;
}
.buycount {
    margin: 0;
    margin-left: 30px;
   

}
.plus,
.minus {
    width: 30px;
    height: 30px;
    background-color: #008dff;
    border: none;
    outline: none;
    margin-right: 10px;
    border-radius: 10px;
}
.plus:active,
.minus:active {
    background-color: red;
}
.buylistview {
    padding: 0;
    padding: 15px;
    position: absolute;
    z-index: 10;
    display: block;
    max-width: 600px;
    min-width: 250px;
    gap: 20px;
    /* border: 1px solid red; */
    top: calc(50% + 70px);
    left: calc(50% - 223px);
    background-color: #000000;
    animation: lovelist 1s ease-in 0.1s 1 alternate backwards;
}
.buynum {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid red;
    top: calc(50% - 28px);
    left: calc(50% - 11px);
    background-color: red;
    color: white;
    text-align: center;
    font-size: 14px;
}
.title {
    color: white;
}

/*  animation part */
@keyframes lovelist {
    from {
        transform: translateY(-200px);
    }
    to {
        transform: translateY(0px);
    }
}
/* .item{
  display:none;
} */
